.image_resize{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

#premlogo{
    width: 20%;
    height: 20%;
    border: 5px solid black;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    margin: 10px;
    text-align: center;
    top: 0;
    left: 40%;
}

.imtip{
    position: relative;
    bottom:0;
}

div.trim{
    max-width: 100%;
    max-height: 210px;
    overflow: hidden;
}

.headerbg{
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    background-image: url(/images/titlebg.png);
    max-width: 20%;
    max-height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-top: 1%;
    border: none;
    border-radius: 20px;
    
}

.hometitle{
    background-image: url(/images/titlebg.png);
    text-decoration: none;
}

.clubheader{
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 60px;
    padding: 20px;
    background-image: url(/images/titlebg.png);
    max-width: 24%;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-top: 1%;
    border: none;
    border-radius: 20px;
    
}

.text_bg{
    background-image: url(/images/titlebg.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-top: 1%;
    border: none;
    border-radius: 20px;
    padding: 40px;

}

.stadiums_text{
    background-image: url(/images/titlebg.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: none;
    border-radius: 20px;
    padding: 1%

}

.home_sections{
    background-color: blueviolet;
    border-radius: 0px 5px 5px 0px;
}

h2, summary{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

h3{
    font-weight: lighter;
}

a{
    text-decoration: none;
    color:white
}

a:hover, details:hover{
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 5px;
    color:black;
}
ul, li{
    list-style: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color:rgb(218,112,214, 0.7);
    min-width: 170px;
    font-size: 15px;
    font-weight: bold;
    z-index:5;
}

.dropdown:hover .dropdown_content {
    display: block;
  }

.dropdown_content a{
    display: block;
    padding: 4px 2px;
    text-align: left;
}  

