.image_resize{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.nextpage{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
    color: lightgoldenrodyellow;
    float: right;
}

#premlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
    border: 3px solid black;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: antiquewhite;
    outline-style: double;
    outline-color: gray;
    outline-width: 5px;
}

h2, summary{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

h3{
    font-weight: lighter;
}

body{
    background-image: url(/images/background.jpeg);
    background-size: 100% 100%;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: lightgoldenrodyellow;
}

.card{
    background-color: white;
    color: black;
    box-shadow: 5px 5px 9px black;
    max-width: 300px;
    margin: 5px;
    text-align: center;
    padding: 5px;

}

a:hover, details:hover{
    background-color: lightgray;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul, li{
    list-style: none;
}

nav{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

a{
    padding-right: 10px;
    
}